* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2F323C;
    position: relative;
}

body::after {
    content: "";
    width: 100%;
    height: 248px;
    background-color: #2A2D36;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.container {
    width: 100%;
    max-width: 990px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.content {
    width: 639px;
}

.pill {
    background-color: #FFFFFF;
    margin-right: 10px;
    width: 91px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    font-weight: bold;
}

header .brand {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 47px;
}

span {
    color: #FFA800;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 171px;

}

.btn-new-dev {
    background-color: #FFA800;
    width: 239px;
    height: 52px;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 54px;
}

.btn-new-dev::after {
    position: absolute;
    content: "";
    background-color: #E29500;
    height: 52px;
    width: 54px;
    top: 0;
    left: 0;
    border-radius: 8px 0 0 8px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.card {
    width: 100%;
    height: 154px;
    background-color: #3A3C46;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0 10px #00000016;
    margin-bottom: 30px;
}

.avatar img {
    width: 98px;
    height: 98px;
    border-radius: 47px;
}

.avatar {
    width: 98px;
    height: 98px;
    margin-left: 36px;
    margin-right: 34px;
}

ul li {
    list-style: none;

}

ul {
    display: flex;
}

.youtube {
    color: #EC4A44;
}

.github {
    color: #24292E;
}

.linkedin {
    color: #0A66C2;
}

.twitter {
    color: #1DA1F2;
}

.instagram {
    color: #ED4956;
}

.site-blog {
    color: #3A3C46;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2px;
}

p {
    font-size: 18px;
    font-weight: bold;
    color: #E29500;
    margin-bottom: 16px;
}

.action-button {
    font-size: 18px;
    font-weight: bold;
    width: 96px;
    height: 36px;
    border-radius: 26px;
}

.actions {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #DEDEDE;
    padding-left: 33px;
}

.edit {
    background-color: #E7F7E7;
    color: #3EB63E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    background-color: #FAECEB;
    color: #EC4A44;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right: 54px;
}

footer {
    margin-top: 45px;
    border-top: 1px solid #707070;
}
.brand {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 5px;
}

.credits {
    font-size: 18px;
    font-weight: bold;
    color: #E29500;
}